:root {
  --background: #202020;
  --darkGreen: #1f8359;
  --green: #2cb67d;
  --bg: #0a0a0a;
  --shadow: 0 2px 2px rgba(0 0 0 / 0.5);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #555555;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--green);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--darkGreen);
}

body {
  font-size: 1.2rem;
  font-family: "Manrope", sans-serif;
  min-height: 4000px;
  background-color: var(--background);
  color: #fff;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(img/bg-wed.jpg);
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.hero {
  position: relative;
  min-height: 100vh;
}

.hero h1,
.hero h4,
.hero p {
  text-shadow: var(--shadow);
}

.hero h1 {
  font-family: "My Soul", cursive;
  font-size: 5rem;
}

.hero h4 {
  font-size: 1.6rem;
}

.hero p {
  font-size: 1.3rem;
}

.hero a {
  color: var(--green);
  background-color: white;
  box-shadow: var(--shadow);
}

.hero a:hover {
  background-color: var(--green);
  color: white;
}

.mynavbar .offcanvas {
  height: 100vh;
  background-color: var(--background);
}

.mynavbar .navbar-brand,
.mynavbar .offcanvas-title {
  font-family: "My Soul", cursive;
  font-size: 3.2rem;
  color: #fff;
}

.mynavbar .nav-link {
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
}

.home {
  background-image: url(img/flower.png);
  background-size: cover;
  min-height: 100vh;
  margin-top: -6.5rem;
  padding-top: 15rem;
  padding-bottom: 5rem;
  background-color: #fff;
}

.home h2,
.info h2 {
  color: var(--green);
  font-family: "My Soul", cursive;
  font-size: 5rem;
}

.home h3 {
  color: #222222;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.home p {
  color: #555555;
  font-size: 1.1rem;
}

.home .couple {
  margin-top: 100px;
}

.home .couple h3 {
  font-family: "My Soul", cursive;
  font-size: 2.4rem;
  color: var(--green);
}

.home .couple img {
  width: 100%;
}

.home .heart {
  width: 50px;
  height: 50px;
  background-color: var(--green);
  display: flex;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0 0 0 / 0.5);
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(65px);
}

.home .heart i {
  margin: auto;
  color: #fff;
}

.info {
  padding-top: 10rem;
  padding-bottom: 8rem;
}

.info .description {
  font-size: 1.2rem;
  font-weight: 100;
}
/* Media Query */
/* Extra large */

@media (max-width: 1200px) {
  .home .heart {
    transform: translateX(-50%) translateY(45px);
  }
}

/* Laptop */
@media (max-width: 992px) {
  html {
    font-size: 75%;
  }

  .simply-countdown > .simply-section {
    padding: 70px;
  }

  .home .heart {
    display: none;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 65%;
  }

  .simply-countdown > .simply-section {
    padding: 60px;
    margin: 5px;
  }

  .mynavbar .nav-link {
    font-size: 2rem;
    text-transform: uppercase;
  }
}

/* Mobile Phone */
@media (max-width: 576px) {
  html {
    font-size: 60%;
  }

  .simply-countdown > .simply-section {
    padding: 45px;
    margin: 3px;
  }
}
